body {background-image:url("images/TO HEAR YOUR WONDROUS STORIES.jpeg");
    background-size: cover;}
h1   {color: brown;}
p    {color: red;}
.centered-image {
    display: block; /* Make the image a block element */
    margin: 0 auto;  /* Auto margins on left and right */
    max-width: 100%;  /* Prevent the image from overflowing */
    width: 50%;       /* Set width as percentage of parent container */
    height: auto;     /* Maintain aspect ratio */
}
